@font-face {
    font-family: 'icones';
    src: url(../font/icones.ttf);
}

body{
    background-color: #1D232A ;
    font-family: 'Anton', sans-serif, 'icones';
    color: #b49d4a;
}

@media screen and (min-width: 1440px) {
    body{
        display: grid;
    }
}

.cabecalho{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #15191C;
    padding: 8px 16px;
    box-shadow: 0px 4px 10px #38B6FE;
}

.cabecalho-menu i::before{
    content: "\e904";
    font-size: 24px;
}

.cabecalho-titulo{
    font-size: 35px;
    color: #f9e305;
    font-weight: 500;
}

.cabecalho-logo{
    width: 40px;
}

.cabecalho-nav{
    display: none;
}



@media screen and (min-width: 1440px) {
    .cabecalho{
        background-color: #1D232A;
        display: flex;
        justify-content: space-between;
        padding: 16px 60px;
        height: 90px;
        box-sizing: border-box;
    }

    .cabecalho-nav{
        display: flex;
        width: 23%;
    }

    .cabecalho-nav ul li{
        display: inline;
        margin: 0 0 0 15px;
        font-size: 30px;
    }

    .cabecalho-nav ul li:hover{
        text-decoration: underline;
        color: #f9e305;
    }

    .cabecalho-titulo{
        font-size: 40px;
        color: #f9e305;
        font-weight: 500;
    }

    .cabecalho-ligado{
        color: #f9e305;
    }

    .cabecalho-logo{
        width: 70px;
    }  

    .cabecalho-menu{
        display: none;
    }
}

.menu-lateral{
    display: flex;
    flex-direction: column;
    background-color: #15191C;
    width: 75vw;
    height: 100vh;
    box-shadow: 4px 0 10px #38B6FE;

    position: absolute;
    left: -100vw;
}

.menu-lateral--ativo{
    left: 0;
    transition: .25s;
}

.menu-lateral_logo{
    height: 100px;
    width: 100px;
    align-self: center;
    padding: 16px;
}

.menu-lateral__link{
    height: 64px;
    color: #b49d4a;
    padding-left: 64px;
    display: flex;
    align-items: center;
}

.menu-lateral__link--ativo{
    color: #f9e305;
    padding-left: 56px;
    border-left: 8px solid #f9e305;
}

.menu-lateral__link::before{
    content: "\e900";
    width: 24px;
    height: 24px;
    font-size: 24px;
    position: absolute;
    left: 24px;
}

.menu-lateral__link--inicio::before{
    content: "\e902";
}

.menu-lateral__link--noticia::before{
    content: "\e906";
}

.menu-lateral__link--conteudo::before{
    content: "\e905";
}

@media screen and (min-width: 1440px){
    .menu-lateral{
        display: none;
    }
}

.principal{
    padding: 24px 16px;
    display: grid;
    gap: 16px;
}

.titulo-pagina{
    margin: 0 1rem 1rem 0;
    font-size: 1.5rem;
    font-weight: 700;
}


.atalho-noticia{
    margin: 2rem 0 2rem 0;
}

.atalho-conteudo{
    margin: 2rem 0 2rem 0;
}

.cartao--destaque{
    width: 100%;
    border-radius: 15px;
    overflow: hidden;
    background-color: #2C343A;
}

.cartao{
    display: flex;
    width: 100%;
    height: 140px;
    border-radius: 15px;
    background-color: #2C343A;
    margin: 0.5rem 0 0.5rem 0;
}

.imagem-noticia{
    width: 130px;
    border-bottom-left-radius: 15px;
    border-top-left-radius: 15px;
}

.cartao-conteudo{
    padding: 16px;
    display: flex;
    flex-direction: column;
}

.cartao-noticia-conteudo{
    display: flex;
    align-items: center;
    margin: 1rem;
}

.cartao-titulo{
    font-size: 2rem;
    color: #f9e305;
}

.cartao-manchete{
    font-size: 0.8rem;
    color: #f9e305;
}

@media screen and (min-width: 1440px){
    .principal{
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 16px 60px;
    }
                
    .destaque{
        width: 40%;
        margin-top: 5rem;
    }

    .cartao--destaque{
        border-radius: 15px;
        background-color: #2C343A;
    }

    .cartao--destaque:hover{
        text-decoration: underline;
    }

    .cartao:hover{
        text-decoration: underline;
    }

    .atalho{
        display: flex;
        justify-content: space-between;
        width: 80%;
    }

    .atalho-conteudo{
        margin: 1rem;
        width: 45%;
    }

    .atalho-noticia{
        margin: 1rem;
        width: 45%;
    }

    .imagem-noticia{
        width: 200px;
        border-bottom-left-radius: 15px;
        border-top-left-radius: 15px;
    }

    .noticia{
        margin: 2rem;
        width: 50%;
    }

    .conteudo{
        margin: 2rem;
        width: 50%;
    }
    
}





.img-pagina{
    width: 90%;
    height: 300px;
}

.escrita p{
    font-size: 1.2rem;
    line-height: 2rem;
    margin-top: 1.5rem;
}

.escrita h2{
    font-size: 1.7rem;
    margin-top: 4rem;
    color: #38B6FE;
}

.title h1{
    margin-bottom: 1.5rem;
    font-size: 2rem;
    color: #38B6FE;
}

footer{
    margin-top: 2rem;
    width: 100%;
    background-color: #1D232A;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 100px;
    box-shadow: 0px -4px 10px #38B6FE;
    font-size: 0.6rem;
}

.foot-logo{
    height: 60%;
    width: auto;
}

.foot-descricao{
    text-align: left;
    width: 40%;
    font-size: 0.8rem;
}

.logo{
    height: 100%;
}

.insta{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    width: 30%;
}






@media screen and (min-width: 1440px) {
    .pagina-conteudo{
        margin-top: 2rem;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 50%;
    }

    .img-pagina{
        width: 90%;
        height: 500px;
    }

    .foot-descricao{
        text-align: left;
        width: 40%;
        font-size: 1.5rem;
    }

    .insta{
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        width: 15%;
    }
}





